.review{
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(6, min-content);
  grid-template-areas:
  "avatar name"
  "avatar about"
  "avatar stars"
  "subtitle subtitle"
  "text text"
  "date date";
  width: 100%;
  max-width: 630px;
  margin: 0 0 30px 0;
}

.review__avatar{
  grid-area: avatar;
  width: 84px;
  height: 84px;
  margin: 0 18px 0 0;
  padding: 0;
}

.review__name{
  grid-area: name;
  margin: 0 0 6px 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}

.review__about{
  grid-area: about;
  margin: 0 0 7px 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.49;
}

.review__stars{
  grid-area: stars;
  width: 118px;
  height: 17px;
}

.review__subtitle{
  grid-area: subtitle;
  margin: 0 0 14px 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #B3B3B3;
}

.review__text{
  grid-area: text;
  margin: 0 0 20px 0;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}

.review__subtitle::before{
  content: url('../../images/reviews/arrow.svg');
  margin: 2px 5px 0 0;
}

.review__date{
  grid-area: date;
  margin: 0 0 44px 0;
  padding: 0 0 20px 0;
  border-bottom: 0.5px solid #C7C7C7;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.48;
  color: #B3B3B3;
  box-sizing: border-box;
}

@media screen and (min-width: 800px){
  .review{
    grid-template-columns: min-content min-content 1fr;
    grid-template-rows: repeat(5, min-content);
    grid-template-areas:
    "avatar name name"
    "avatar about about"
    "avatar stars subtitle"
    "avatar text text"
    "avatar date date";
  }

  .review__stars{
    margin: 0 50px 0 0;
  }

}