.photos{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.photos__container{
  margin: 0 0 0 15px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.photos__show-all{
  width: 220px;
  text-align: center;
  display: none;
  color: #5286EC;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.46;
  cursor: pointer;
  align-self: center;
}

.photos__show-all::before{
  content: url('../../images/all-icon.svg');
  margin-right: 10px;
}

.photos__show-all::after{
  margin-left: 10px;
  content: url('../../images/all-icon.svg');
}

.photos__title{
  margin: 0 0 32px 0;
  padding: 0;
  font-weight: normal;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  color: #37373F;
}

@media screen and (min-width: 768px){
  .photos__container{
    margin: 0 0 0 30px;
  } 

  .photos__title{
    font-size: 32px;
    font-weight: 500;
  }
}

@media screen and (min-width: 920px){
  .photos__container{
    max-width: 920px;
    margin: 0 auto 43px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    justify-items: center;
    justify-content: center;
    column-gap: 15px;
    row-gap: 15px;
  }

  .photos__show-all{
    display: flex;
  }
}

@media screen and (min-width: 1180px){
  .photos{
    max-width: 1130px;
  } 

  .photos__container{
    max-width: 100%;
    column-gap: 0;
    margin: 0 0 43px 0;
    grid-template-columns: repeat(4, 1fr);
  } 

  .photos__title{
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    margin-left: 5px;
  }
}
