.features{
  width: calc(100% - 30px);
}

.features__button-play{
  position: relative;
  width: 12px;
  height: 17px;
  background-image: url(../../images/features/features-play.svg);
  background-color: rgba(0,0,0, .0);
  border: none;
  grid-column: 1;
  grid-row: 1;
  align-self: flex-end;
  justify-self: end;
  margin-bottom: 6%;
  margin-right: 6%;
}

.features__first-column{
  max-width: 552px;
  margin: auto;
}

.features__item{
  display: flex;
  flex-direction: row;
}

.features__items{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.features__pic{
  margin-right: 13px;
}

.features__preview{
  width: 100%;
  grid-column: 1;
  grid-row: 1;
}

.features__second-column{
  width: 100%;
  max-width: 554px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  margin: 0 auto 30px auto;
}

.features__subtitle{
  font-size: 14px;
  font-weight: normal;
  line-height: 1.43;
  margin: 0 0 36px 0;
  color: #37373F;
  max-width: 540px;
}

.features__text{
  color: #37373F;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
}

.features__title{
  max-width: 300px;
  font-weight: normal;
  font-size: 28px;
  line-height: 1.21;
  text-align: center;
  color: #37373F;
  margin: 0 auto 13px auto;
}

.features__video{
  display: none;
}

@media screen and (min-width: 1180px){
  .features{
    width: 1180px;
    justify-content: space-between;
  }
  
  .features__first-column{
    margin: 0;
    width: 50%;
  }

  .features__items{
    margin: 0 0 0 30px;
  }

  .features__second-column{
    max-height: 200px;
    margin: 0 30px 0 0;
  }

  .features__subtitle{
    margin: 0 0 29px 30px;
    font-size: 18px;
  }

  .features__title{
    text-align: start;
    margin: 0 0 18px 30px;
    font-size: 40px;
    font-weight: 500;
  }
}

@media screen and (min-width: 768px){
  .features{
    width: calc(100% - 60px);
    display: flex;
    flex-direction: row-reverse;
  } 

  .features__second-column{
    width: 50%;
    max-height: 200px;
  }

  .features__subtitle{
    font-size: 16px;
  }

  .features__title{
    margin: 0 0 13px 0;
    text-align: start;
    font-size: 32px;
    font-weight: 500;
  }
}

@media screen and (min-width: 568px){
  .features__subtitle{
    margin: 0 auto 36px auto;
  }
}