.map{
  display: block;
  position: relative;
  z-index: 0;
  background-image: url('../../images/map.jpg');
}

.map__box{
  height: 423px;
}

@media screen and (min-width: 768px){
  .map__box{
    height: 509px;
  }
}